.RollDice {
    display: flex;
    flex-flow: column nowrap;
}

.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button {
    align-self: center;
    font-size: 1em;
    width: 8em;
    padding: 1em;
    border: 0px;
    border-radius: 10px;
    color: white;
}

.RollDice button:hover {
    background-color: #0047AB;
    cursor: pointer;
}